blinker
click
Flask
Flask-Cors
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
numpy
pandas
python-dateutil
pytz
setuptools
six
SQLAlchemy
typing_extensions
tzdata
Werkzeug
wheel
gunicorn
mysql-connector-python